<%= form_for(@request, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <%= render partial: 'baseForm', locals: {f: f} %>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit "Crear Requerimiento",class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
